html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    color: $text;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
input{
    &:focus{
        outline: none;
    }
}
button {
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
    }
}
body {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: $text;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.page-content {
    background-color: $grey-bg;
}
.menu__btn{
    display: none;
    width: 30px;
    cursor: pointer;
    div{
        background-color: #fff;
        height: 3px;
        & + div{
            margin-top: 5px;
        }
    }
}
.header__btn-menu{
    display: none;
    width: 70px;
    height: 70px;
    background-color: $dark-blue;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
        color: #ffffff;
    }
}
.section__title {
    text-align: center;
    color: $dark-blue;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 35px;
}

.rate-star {
    display: inline-block;
    margin-right: 13px;
    padding: 0 0 2px 0;
}

.breadcrumbs {
    &__inner {
        padding: 45px 0 40px;
    }
    &__list {
        li {
            display: inline-block;
            position: relative;
            a {
                color: #b0bec5;
            }
            &:last-child {
                a,
                span {
                    color: $dark-blue;
                }
            }
            & + li {
                padding-left: 24px;
                &::before {
                    content: "-";
                    position: absolute;
                    left: 8px;
                    color: $green;
                }
            }
        }
    }
}
.angle-right{
    position: relative;
    padding-left: 15px;
    &::before{
        content: "\f105";
        position: absolute;
        font-family: 'icomoon';
        color: #8bc34a;
        font-weight: 400;
        font-size: 14px;
        left: 0;
        top: 0;
    }
}
