@import "vars";
@import "global";
@import "fonts";

//start Header

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    color: #ffffff;
    font-size: 12px;
    width: 72px;
    padding: 4px;
    text-align: center;
    border-radius: 4px;
    &-login {
        background-color: $green;
    }
    &-register {
        background-color: $red;
        margin-left: 7px;
    }
}
.header__menu {
    background-color: $dark-blue;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
    &__list {
        li {
            display: inline-block;
            a {
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 500;
            }
            & + li {
                margin-left: 30px;
            }
        }
    }
}

// End Header

//Start search Section

.search {
    min-height: 532px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__inner {
        text-align: center;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        padding: 155px 0 100px;
        &-title {
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 10px;
            line-height: 72px;
        }
        &-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 50px;
        }
        &-form {
            max-width: 670px;
            margin: 0 auto;
            position: relative;
            input {
                display: block;
                width: 100%;
                height: 56px;
                box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
                border-radius: 4px;
                border: none;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                padding: 0 70px 0 25px;
                color: $text;
                &::placeholder {
                    color: #90a4ae;
                    font-weight: 500;
                    font-family: "Roboto", sans-serif;
                }
            }
            button {
                position: absolute;
                border: none;
                background-color: transparent;
                right: 0;
                top: 0;
                height: 100%;
                width: 60px;
                cursor: pointer;
            }
        }
    }
}

//End Search Section

//Start Products Section

.products {
    padding: 110px 0 110px;
    background-color: $grey-bg;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    &__inner-btn {
        text-align: center;
        margin-bottom: 60px;
        button {
            padding: 12px 21px;
            background-color: #ffffff;
            border: none;
            color: $dark-blue;
            outline: none;
            cursor: pointer;
            &.mixitup-control-active {
                background-color: $red;
                color: #ffffff;
            }
            & + button {
                margin-left: 5px;
            }
        }
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $dark-blue;
        display: block;
        font-size: 18px;
    }
    &-category {
        color: $green;
        font-size: 14px;
    }
    &-price {
        font-weight: 700;
        font-size: 20px;
        color: $dark-blue;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-author {
        display: flex;
        align-items: center;
        max-width: 245px span {
            font-size: 14px;
        }
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 14px;
        }
    }
    &-rating {
        font-size: 12px;
        display: flex;
        align-items: center;
        span {
            color: $dark-blue;
        }
    }
}

.products__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0;
        box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
        font-family: "Roboto-Regular", sans-serif;
        font-size: 16px;
        color: $dark-blue;
        border: none;
        background-color: #fff;
        padding: 18px 32px;
        cursor: pointer;
        outline: none;
        &.mixitup-control-active {
            background-color: $red;
            color: #ffffff;
        }
    }
}

//End Products

//Start Product Slider

.product-slider {
    padding: 110px 0 120px;
    .slick-list{
        margin-right: -5px;
        margin-left: -5px;
        .slick-slide{
            max-width: 442px;
            width: 100%;
            margin: 0 15px;
        }
    }
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
            & + li {
                margin-left: 7px;
            }
            button {
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid #000;
                background-color: #e8e8e8;
                padding: 0;
            }
        }
    }
}

//End Product Slider

@import "media";
